.profile-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

img.d-block.w-50 {
    margin-left: 0 !important;
    margin-top:  0 !important;
}
.profile-container h1{
    margin-top: 1px;
    margin-bottom: 24px;
    color: black !important;
    
}

.profile-container ul{
    display: grid;
    grid-gap: 24px;
    list-style: none;
    width: 75%;
    margin-top: 1%;
    margin-left: 1%;
    
}

.profile-container ul li{
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 8px black;
}

.profile-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: #FFF;
}

.profile-container ul li button:hover{
    opacity: 0.5;
}

.profile-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.profile-container ul li p + strong{
    margin-top: 32px;
}

.profile-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.profile-container .content {
    background-color: white;
    display: flex;
    border-radius: 6px;
}

.profile-container .content ul{
    width: 98% !important;
}

.profile-container .content header{
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;

}


.profile-container .content .not {
    
    margin-left: 3%;
    height: -webkit-fill-available;
    border-radius: 1%;
    width: 22%;
    margin-top: 1%;
    box-shadow: 0 0 3px black !important;

    margin-right: 5%;
    
}

.profile-container .content .not a h2{
    color: rgb(124, 121, 121);
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left !important;
    margin-left: 7%;
}

.profile-container .content .not a{
    text-decoration: none;

}
.profile-container .content .not h1{
    color: black;
    margin-top: 5%;
    text-align: center;
}

.nav-bar{
    padding: 24px;
    border-radius: 0px !important;
    position: relative;
    
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 30px;
    margin: 32px auto;
    background-color: white;
}

.nav-bar .cont{
    display: flex;
    background-position: center;
    margin-left: 22%;

}



.nav-bar .cont .space{
    margin-left: 22%;
}

.nav-bar .circulo{
    width: 210px;
    height: 127px;
    
    border-radius: 20px;

    margin-left: 6%;
    margin-top: 1%;
}

.nav-bar .circulo img{ 
    width: 75%;
    margin-left: -4%;
    margin-top: 1%;
}

.nav-bar .circulo-Gpa { 
    width: 85%;
    margin-left: 6%;
    margin-top: -11%;
}

.nav-bar .circulo-contest { 
    width: 120%;
    
    margin-top: -11%;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 15px!important;
    overflow: hidden;
    background-color: #000000d9!important;
}

a.navbar-brand {
    height: 30px !important;
    width: 75% !important;
    text-decoration: none !important;
}
a {
    color: #0062cc !important;
    text-decoration: none !important;
    background-color: transparent;
}
.bg-color {
    background-color: #000000d9!important;
}

.menu .conf {
    width: 100% !important;
}

.navbar-expand-lg .navbar-collapse {
    margin-left: -10px;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#000000d9 !important;
    color: white;
    text-align: center;
    padding: 1%;
    
}


.footer .footer-div{
    display: flex !important;
    margin-left: 38% !important;
}

.footer .footer-div .insta {
    width: 4%;
}

